@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* fullscreen container styles */
.fullscreen-container {
    
    /* margin-top: -1.2rem; */
    background-color: #353b48;
    color: #f5f6fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top:40px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.panel-icon-right {
    right: 40px;
}
.panel-icon-left {
    left: 40px;
}
.panel-icon .feather {
    width: 60%;
    height: 60%;
    color: #7f8fa6;
}
.panel-icon:hover {
    background-color: #2f3640;
    color: #f5f6fa;
}
.panel-icon .feather:hover {
    color: #f5f6fa;
    cursor: pointer;
}


/* container styles */
.form-container {
    min-height: 200px;
    max-height: 78vh;
    min-width: 400px;
    max-width: 66vw;
    width: 50%;
    /* border: 1px solid blue; */
    padding: 30px 50px;
    display: flex;
    flex-flow: column nowrap;
    
}
.form-title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 2rem 0;
}

/* element list styles */
.element-list, .element {
    margin: 0;
    padding: 0;
}
.element-list {
    list-style: none;
    overflow-y: scroll;
    /* border: 1px solid #222; */
    margin-bottom: 2.3rem;
    height: 280px;
}

.element-list .element {
    
    font-size: 1.2rem;
}
.element-list li input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;

}
.element {
    padding: 0 0 0 0.4rem;
    /* colored border if selected */
}
.element label {

    display: inline-block;
    min-width: 94%;
    padding: 0.8rem 0.2rem;
}
.element label:hover {
    cursor: pointer;   
}
.element:hover {
    cursor: pointer;
    background: #2f3640;
    font-weight: bold;
    border-left: 6px solid #273c75;
}

/* element edit styles */
.input-group {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.input-group label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.input-group input {
    background: none;
    margin: 0;
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    color: #f5f6fa;
    border: 2px solid #2f3640;
    outline: 0;
    background-color: #2f3640;
    border-radius: 5px;
}
.input-group input:hover {
    border: 2px solid #40739e;
    
}
.input-group input:focus {
    border: 2px solid #40739e;
    background-color: #273c75;
}

/* form submission styles */
.form-submit {
    min-width: 200px;
    width: 100%;
    font-size: 1.2rem;
    background: none;
    color: #f5f6fa;
    padding: 0.8rem;
    margin: 0 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: #192a56;
}
.form-submit:hover {
    background-color: #273c75;
    cursor: pointer;
    font-weight: bolder;
}

.button-group {
    display: flex;
}
.button-group .delete {
    background-color: #c23616;
}
.delete:hover {
    background-color: #e84118;
}

/* showcase styles */
.showcase-container {
    min-width: 700px;
    max-width: 66vw;
    width: 60%;
    height: 80%;
}

/* heading form styles */
.heading-form {
    /* border: 1px solid #40739e; */
    margin-bottom: 3rem;
}
.input-heading {
    width: 100%;
    margin: 0;
    padding: 0.6rem 1.2rem;
    border: 2px solid #353b48;
    border-radius: 16px 16px 3px 3px;
    outline: 0;
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
    background-color: #353b48;
    color: #f5f5f5;
}
.input-heading:hover {
    background-color: #192a56;
    border-bottom-color: #40739e;
}
.input-heading:focus {
    border-color: #40739e;
}

/* element display styles */
.swipe-icon {
    position:relative;
    z-index: 3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
}
.swipe-left {
    left: -15%;
}
.swipe-right {
    right: -15%;
}
.swipe-icon .feather {
    height: 70%;
    width: 70%;
    color: #7f8fa6;
}
.swipe-icon:hover, .swipe-icon .feather:hover {
    background-color: #2f3640;
    color: #f5f6fa;
    cursor: pointer;
}

.element-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.element-block {
    width: 260px;
    height: 260px;
    background-color: #f5f6fa;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 0.8rem;
    color: #353b48;
}
.elem-number, .elem-name, .elem-weight, .elem-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.elem-number {
    grid-row: 1/2;
    grid-column: 1/2;
    
}

.elem-symbol {
    grid-row: 2/4;
    grid-column: 2/4;
    font-size: 4rem;
}
.elem-weight {
    grid-row: 1/2;
    grid-column: 3/5;
}
.elem-name {
    grid-row: 4/5;
    grid-column: 2/4;
    font-weight: bold;
}