@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* fullscreen container styles */
.fullscreen-container {
    
    /* margin-top: -1.2rem; */
    background-color: #353b48;
    color: #f5f6fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close, .back {
    width: 50px;
    height: 50px;
    position: fixed;
    
    z-index: 4;
}
.close {
    top: 40px;
    right: 40px;
}
.back {
    top: 40px;
    left: 40px;
}
.close .feather-x, .back .feather-arrow-left {
    width: 100%;
    height: 100%;
    color: #7f8fa6;
}
.close .feather-x:hover, .feather-arrow-left:hover {
    color: #f5f6fa;
    cursor: pointer;
}


/* container styles */
.form-container {
    min-height: 200px;
    max-height: 78vh;
    min-width: 400px;
    max-width: 66vw;
    width: 50%;
    /* border: 1px solid blue; */
    padding: 30px 50px;
    display: flex;
    flex-flow: column nowrap;
    
}
.form-title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 2rem 0;
}

/* element list styles */
.element-list, .element {
    margin: 0;
    padding: 0;
}
.element-list {
    list-style: none;
    overflow-y: scroll;
    /* border: 1px solid #222; */
    margin-bottom: 2.3rem;
    height: 280px;
}

.element-list .element {
    
    font-size: 1.2rem;
}
.element-list li input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;

}
.element {
    padding: 0 0 0 0.4rem;
    /* colored border if selected */
}
.element label {

    display: inline-block;
    min-width: 94%;
    padding: 0.8rem 0.2rem;
}
.element label:hover {
    cursor: pointer;   
}
.element:hover {
    cursor: pointer;
    background: #2f3640;
    font-weight: bold;
    border-left: 6px solid #273c75;
}

/* element edit styles */
.input-group {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.input-group label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.input-group input {
    background: none;
    margin: 0;
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    color: #f5f6fa;
    border: 0;
    outline: 0;
    background-color: #2f3640;
    border-radius: 5px;
}
.input-group input:hover {
    border: 2px solid #40739e;
    
}
.input-group input:focus {
    border: 2px solid #40739e;
    background-color: #273c75;
}

/* form submission styles */
.form-submit {
    min-width: 200px;
    width: 100%;
    font-size: 1.2rem;
    background: none;
    color: #f5f6fa;
    padding: 0.8rem;
    margin: 0 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: #192a56;
}
.form-submit:hover {
    background-color: #273c75;
    cursor: pointer;
    font-weight: bolder;
}

.button-group {
    display: flex;
}
.button-group .delete {
    background-color: #c23616;
}
.delete:hover {
    background-color: #e84118;
}